<div class="row venue-partial border">
  <div class="col-xs-9">
    <div class="row">
      <%= venue.send(locals[:emphasis]) %>
    </div>
    <div class="row">
      <%= venue.name %>
      <%= venue.display_address %>
    </div>
  </div>
  <div class="col-xs-3">
    >
  </div>
</div>
