<div class="content">
  <header class="top container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Highest Rated</li>
            <li>Most Reviewed</li>
            <li>Closest to Me</li>
            <li>Open Latest</li>
            <li>Open Earliest</li>
            <li>Outlet Coverage</li>
          </ul>
          <p> - - - </p>
          <ul>
            <li>best wifi</li>
            <li>best coffee</li>
            <li>cheapest coffee</li>
            <li></li>
          </ul>
          <p>- - - </p>
          <ul>
            <li><%= link_to "add a place", venues_path, method: :post %></li>  
            <li><%= text_field_tag "query", "", placeholder: "Specific Place...?" %></li>
          </ul>
        </div>

        <div class="col-md-9">
          <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
          </div>
        </div>
      </div>
    </div><!-- end .container -->
  </section>
</div><!-- end #content -->


<script type="text/javascript" charset="utf-8">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
</script>
