<div class="content">
  <header class="top container-fluid">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-2">
        <h1><%= @venue.name %></h1>
        <%= link_to "What's it like to code here?", new_venue_review_path(@venue)  %>
      </div>
    </div><!-- end .container -->
  </section>
</div><!-- end #content -->
