body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.venue-partial {
}

#navbar-search-cancel {
  display: none;
}

#navbar-search-input {
  height: 44px;
  width: 200px;
}

#navbar-search-dropdown {
  width: 251px;
}

